
.content-width {
    max-width: 700px !important;
}

.view_pro img {
    width: 150px;
}
/* #remove_this {
    border: none;
    color: red;
    transform: rotate(120deg);
    background: transparent;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-top: -17px;
    width: 18px;
    height: 18px;
} */
 #remove_this {
     color: red;
     background: transparent;
     margin: 0;
     padding: 0;
     width: 18px;
     height: 18px;
     border: 1px solid red;
     border-radius: 100%;
}
#sales_frm {
    padding: 10px;
    margin: 10px;
}
#customerList {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}
#customerList li,#result_customer li {
    cursor: pointer;
}

#customerList li:hover {
    background-color: #f8f9fa;
}
#purchase_product_view #product_name {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}
#customer_views,#supplier_viewAjax {
    padding: 15px;
}
#salesFooter tbody tr td {
    padding: 1px;
    font-size: 12px;
}
#salesFooter input[type="text"],
#salesFooter select {
    padding: 4px;
    font-size: 12px;
}
#sales_invoice tr td {
    font-size: 11px;
}
#sales_invoice tr th {
    font-size: 12px;
    padding: 6px;
}